/*

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Mono', monospace;

*/

/* Réinitialisation des marges de la page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Parametrage du body*/
body {
    margin: 0;
    overflow-x: hidden;
}

/* parametrage par défaut de différentes sections, textes, couleurs, marges*/
.grey_section{
    background-color: #f1f0f3; 
    color: #424345;
}
.pink_section{
    background: #d92950;
    color: white;
}

.titre_blanc{
    font-style: normal;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2.5em;
} 
.titre_noir{
    font-style: normal;
    color: #424345;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
}
.titre_left{
    font-style: normal;
    color: #424345;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight:400 ;
}
/* Travail sur le header soit la section 0*/
header{
    display: flex;
    flex-direction: column;
    margin-top: 80px;

}
/* Redimensionnement du logo*/
#logo{
    margin-left: 15%;
    margin-top: 10%;
    width: 100px;

}
/*travail sur la barre de navigation, fixation et autre*/
#navigation{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #d92950;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    width: 100vw;
    height: 80px;   
}
/* bloc de liste*/
nav ol{
    display: flex;
    flex-direction: row ;
    margin-top: 7%;  
}

/* reconfiguration de style de liste et espacement */
nav li{
    margin-right: 50px;
    list-style: none;   
}

/*travail sur les liens de la navigation*/
nav li a{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    font-weight: bold; 
    color: #FFFFFF;
    text-decoration: none;
}
/** --------- ici sera placé la pseudo classe active pour le lien ---------/

/*  la pseudo classe hover des listes*/
nav li:hover{
    border-bottom: 2.5px solid rgba(255,4,107,1);
}

/* travail sur le bloc central (h1, bouton et logos */
#head_center{ /* image de fond et dimensionnement*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    background-image: url(img/hero-background.jpg) ;
    background-size: cover;
    width: 100vw;
    height: auto;
}

/* travail sur le texte principal de l'en-tête */
#head_center h1{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    margin-top: 7%;
    text-align: center;
    font-weight: 900;
}

/* modification de la couleur jaune sur qualité */
#dev_qualifié{
    color: #ffe64d;
}

/* travail sur les deux touches de contact*/
#head_center ol{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 5%; 
    width: 40%;
    height: auto;
 
}

/* modification du style de liste*/
#head_center li{
    list-style: none;
}

/* création du bouton*/
#head_center .btn_head{
    list-style: none;
    background: white; 
    padding: 18px 23px;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #d92950;
    text-decoration: none;
    border:  2px solid white;
    
}

/*travail sur le hover*/
#head_center .btn_head:hover {
    background: none;
    color: white;
    transition: 0.3s;
}

/* texte légende */
#head_center p{
    color: white;
    width: 45%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:400 ;
    font-size: 1.1em;
    margin-top: 3%;
    height: auto;
}

/* logo technos*/
#head_logos{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-top : 3.7%;
    margin-bottom: 8%;
    height: auto;
}
#head_logos img{
    width: 55px;
    opacity: 0.5;
}



/*-------------------------------------------------------------------------------------------------------------------*/
/*Prmière section*/
#section1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 7%;
    padding-bottom: 15%;
    height: auto;
}

/* div principal contenant les images*/
#image_present{
    width: 40%;
    position: relative;
}

/* image texaf*/
.img_texaf{
    width: 100%;
    border-radius: 20px;
    position: absolute;
    left: -15%;
}

/* image cohorte kda 2020 */
.img_kda2020{
    width: 65%;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left: 35%;
}


/* div principal illustrtion developpeurs*/
#quality_dev{
    width: 60%;  
    margin-left: 10px;
}

#quality_dev h5{
    font-size: 1.2em;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700 ;
}
/* groupe des 4 illustrations developpeurs */
.quality_dev_illustration_group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
/* div contenant l'icone et le texte h5*/
.quality_dev_illustration{
    width: 45%;
    height: auto;
    text-align: center;
    margin-top: 40px;
}
/* travail sur les icones */
.quality_dev_icons{
    width: 50px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}



/* --------------------------------------------------Deuxième section ------------------------------------------------ */
#section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 100px 0;
 }
 /*travail sur la div des images*/
 #partner_img{
    display: flex;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0; 
 }
 #partner_img img{
     width: 100px;
     max-width: 100%;   
 }

 /* ------------------------------------- Troisème section  --------------------------------------------------------------*/
 #section3{
     width: 100vw;
     height: auto;
     padding: 100px 0;

 }

 #accompagnement{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.accompagnement_box{
    background-color: #FFF;
    padding: 20px;
    width: 600px;
    margin: 0 20px;
    border-radius: 0px 0px 20px 20px;
  
}
#accompagnement_a{
    border-top: 10px solid #FFE64D;
}
#accompagnement_b{
    border-top: 10px solid #d92950;
}


 #section3 h3{
     text-align: center;
     color: #d92950;
     font-size: 30px;
     font-family: 'Montserrat', sans-serif ;
     font-weight: 700;
     margin: 20px 0px;
 }

 .accompagnement_texte p:nth-child(2){
     text-align: center;
  
 }

 .accompagnement_texte p:nth-child(3){
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;


 }
 .accompagnement_texte a{
    
    color: #FFF;
    background-color: #d92950;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 24px 0 0;
    border: 2px solid #d92950 ;
    font-size: 1.25em;
    padding: 15px 25px;
    
    
}

.accompagnement_texte a:hover{
    background: none ;
    color: #d92950;
    transition-duration: 0.3s;
}


/* ------------------------------------------- Quatrième sectin ----------------------------------*/
#section4{
    padding: 100px 0;
    width: 100vw;
  
}
#section4 h1{
    text-align: center;
    margin: 0px 0px 100px;
    
}

#section4_slide{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: auto;
    /*overflow : scroll;*/
}
/*#section4_slide::-webkit-scrollbar{
    background: transparent;
}*/
.box_image{
    padding: 0 30px;
    
}
.box_image img{
    width: 22vw;
    border-radius: 10px;
}

.box_image a{
    text-decoration: none;
    color: #fff;
}
.box_image .ligne_1{
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight:400 ;
    line-height: 1.5em;
  
    
}
.box_image .ligne_2{
    background-color: #ED0058;
    font-size: 0.7em;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    font-family: "Ubuntu Mono", monospace;
    
}
.ligne_2 p{
    margin-right:10px;
}
.ligne_2 svg{
    margin-right: 5px;
}
.ligne_1, .ligne_2{
    margin: 10px 0;
}

/* --------------------------------------------------- secetion5 ------------------------------------------------------------ */
#section5{
    background: #fff;
    width: 100vw;
    padding: 100px 0;
}
#line_box{
    display: flex;
    justify-content: center;
    width: 100vw;

    margin-top: 50px;
}
.tableaux{
    margin: 0px 25px;

}

#tableau_1{
    width: 45vw;
}
#tableau_1 h3, #tableau_2 h3{
    color: white;
    font-size: 2em;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700 ;
}
#tableau1_head{
    height: 70px;
    background: #D92950 ;
    padding: 20px 0;
}
#tableau1_body{
    padding-top: 40px;
    padding-bottom: 50px;
    background: #F1F0F3;
    border-radius: 0 0 20px 20px;
}
.logo_svg{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 25px;
}
.logo_svg figure{
    text-align: center;
    width: 200px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-size: 1.2em;
}
#tableau1_body img{
    width: 50px;
}

#tableau_2{
    width: 30vw;
    background: #F1F0F3;
    border-radius: 0 0 20px 20px;
}

#tableau2_head{
    height: 70px;
    background: #341F41 ;
    padding: 20px 0;
}
#tableau2_body{
    padding: 40px 30px; 
    padding-bottom: 50px ;
    font-family: "Ubuntu Mono", monospace;
    font-size: 20px;
    font-weight: 400;
}
#tableau2_body ol{
    line-height: 2em;
    list-style-position: inside;
}
#tableau2_texte{
    background: #DFDEE1;
    padding: 50px 35px;
    padding-bottom: 60px ;
    border-radius: 10px;
}


/* ------------------------------------------------------ section 6 ----------------------------*/
#section6{
    background: #AE3753;
    padding: 100px 0;
}

#pret_illustration{
    width: 100vw;
}
#alignement_icon_pret{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    
}
.pret_icon{
    margin: 20px;
    width: 300px; 
    
}
.pret_icon h4{

    margin-right: 15px;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
    
    
}
.image_fleche{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    
}
.icon_container{
    width: 70px ;
    height: 70px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 25px;
    
    
}
.fleche img{
    width: 30px;
}
.icon_container img{
    width: 35px;
    max-width: 100%;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px;
}

#section6 a{ 
    color: #FFF;
    background-color: #d92950;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 24px 0 0;
    border: 2px solid #d92950 ;
    font-size: 1.25em;
    padding: 20px 25px;

}

#section6 p{
    text-align: center;
    margin-top: 100px;
}
#section6 a:hover{
    background: none ;
    border: 2px solid white ;
    color: white;
    transition-duration: 0.3s;
}

/* ---------------------------------------------------- section 7------------------------------------ */
#section7{
    padding: 100px 30px ;
    width: 100vw;
}
#create_emploi{
    display: flex;
    justify-content: center;

}

#emploi_1{
    width: 38vw;
}
#emploi_1 img{
    width: 100%;
}

#emploi_1 p:last-child{
    margin-top: 30px;
}
#emploi_1 span{
    color: #D92950;
}

#emploi_2{
    width: 40vw;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.emploi2_bloc{
    width: 42%;
    margin: 10px;
    border-radius: 20px;
    background: #FFF;
    padding: 20px 20px;
}
.emploi2_bloc img{
    width: 50px;
    margin-bottom: 10px;
}
.emploi2_bloc h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:700 ;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* ------------------------------------------------- section 8 --------------------------- */
#section8{
    padding: 100px 0;
    background: #000;
    text-align: center;
    width: 100vw;
}
#img_media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.logo_media{
    margin: 0 30px;
}

/* __________________________________________________ section 9 _______________________________*/
#section9{
    padding:100px 0;
    background: #FFFFFF;
}

#soutien_kda{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    
 
}
.soutien_img, .soutien_twitter{
    display: flex;

}
.soutien_img_bloc,.soutien_twitter_bloc {
    width: 280px;
    margin: 25px 15px;
}
.soutien_img_bloc img{
    width: 280px;
    border-radius:15px ;
    margin-bottom: 20px;
}

.soutien_img_bloc strong{
    font-family: 'Montserrat', sans-serif;
    font-weight:700 ;
}

/* ____________________________________________________________ Formulaire _______________________________________________________*/
#section10{
    padding: 100px 0;
    background: #1D1B25;
    color: white;
}
#section10 #formulaire{
    width: 75vw;
    margin: auto;
}
#section10 fieldset{
    border: none;
    color: rgba(250, 250, 250, 0.9);

}
#section10 legend{
    font-family: 'Roboto', sans-serif;
    margin: 0 0 8px;
}
#formulaire > p:nth-of-type(1){
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
}

#formulaire input, select, textarea{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;   

}
textarea{
    padding-top: 20px;
}
.placeholder ::placeholder,#formulaire option { 
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
  
  }
  
  .placeholder :-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
  
  }
  .placeholder ::-ms-input-placeholder { 
    font-family: 'Roboto', sans-serif;   
    font-size: 1.2em;
}
.form_last_p{
    line-height: 1.5em;
    color: rgba(250, 250, 250, 0.9);
}


#section10 .colonne{
    width: 49%;
    
}
#formulaire_colonne{
    margin: 20px 0;
    display: flex;
    width: 100%;
    
    justify-content: space-between;
}
#section10 input:not(.envoie), select{
    width: 100%;
    height: 40px;
    margin: 8px 0;
}
textarea{
    width: 100%;
    height: 60px;
    margin: 8px 0;
}
input:focus, select:focus, textarea:focus{
    outline: 3px solid rgba(217, 41, 80, 0.3);
 
    
}
#section10 a{
    color: #D92950;
    text-decoration: none;
}
#section10 a:hover{
    border-bottom: 2.5px solid #D92950 ;
}
#formulaire button{
    color: #FFF;
    background-color: #d92950;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #31052C ;
    font-size: 1.05em;
    margin-top: 20px;
    
}
#formulaire button:hover{
    background: transparent;
    transition: 0.3s;
    border: 2px solid #d92950 
}
/* _______________________________________________________ bas de page ___________________________________________________________*/
footer{
    padding: 100px 0;
    background: #2D2D2D;
    color: #fff;
}
.flex_linge{
    display: flex;
    justify-content: center;
    width: 85vw;
    margin: auto;
}
.adresse, .inscription{
    padding: 0 15px;
    width: 50%;
}
address{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.6em ;
    margin: 0 0 32px;
    line-height: 1.3em;
}
.adresse a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.6em ;
    color: #d92950;
    text-decoration: none;
    line-height: 1.3em;
}
.adresse_img{
    margin: 40px 0px 0px ;  

}
.adresse svg{
    margin-right: 20px ;
}

.inscription p:nth-of-type(1){
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    margin: 0 0 25px;
}
.inscription input{
    height: 60px;
    width: 70%;
    padding-left : 10px;
}
.inscription input:focus{
    outline: 3px solid rgba(217, 41, 80, 0.3);
}
.inscription button{
    height: 60px;
    color: #FFF;
    background-color: #d92950;
    border-radius: 0px 15px 15px 0px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px 25px;
    font-size: 1.05em;
    border: none;
    
    position: absolute;
}

.inscription form{
    margin-bottom: 230px;
}

.inscription a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}

