@font-face{
    font-family: 'Montserrat_ultra' ;
    src: url(Montserrat/);   
}
@font-face{
    font-family:'Montserrat_regular' ;
    src: url(Montserrat/Montserrat-Regular.ttf);
}

.grey_section h1{
    font-family: 'Montserrat_ultra', sans-serif;
font-size: 40px;
font-weight: 700;
font-style: normal;
color: #424345;
line-height: 1.2em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
        margin: 0;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(24,0,39,.87);
        text-align: left;
        background-color: #fff;
    }

header{
    display: flex;
    flex-direction: column;
    margin-top: 80px;

}
#logo{
    margin-left: 20px;
    margin-top: 15px;
    width: 100px;

}

/*travail sur la barre de navigation*/
#navigation{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #d92950;
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

    
}

nav ol{
    display: flex;
    flex-direction: row ;
    margin-top: 30px;
  
    
}

nav li{
    margin-right :50px;
    list-style: none;
    

}
/*travail sur les liens de la navigation*/
nav li a{
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 100;
    font-style: normal;
    font-weight: bold; 
    color: #FFFFFF;
    text-decoration: none;
}
nav .accueil{
    border-bottom: 2.5px solid rgba(255,4,107,1);
}
/*  la pseudo classe pour le reste des listes*/

nav li:hover{
    border-bottom: 2.5px solid rgba(255,4,107,1);
}
/* travail sur le bloc central (h1, bouton et logos */
#head_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 115vh;
    background-image: url(img/hero-background.jpg) ;
    background-size: cover;
    
}

/* travail sur le texte principal de l'en-tête */
#head_center h1{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 5.3em;
    font-style: normal;
    color: #FFFFFF;
    
    margin-top: 7%;
    letter-spacing: 0em;
    text-align: center;
    line-height: 1.2em;
}

/* modification de la couleur jaune sur qualité */
#dev_qualifié{
    color: #ffe64d;
}

/* travail sur les deux touches de contact*/
#head_center ol{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 5%; 
    width: 36%;
}
/* modification du style de liste*/
#head_center li{
    list-style: none;

}
/* création du bouton*/
#head_center .btn_head{
    list-style: none;
    background: white; 
    padding: 18px 23px;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #d92950;
    text-decoration: none;
    border:  2px solid white;
    
}
/*travail sur le hover*/
#head_center .btn_head:hover {
    background: none;
    color: white;
    transition: 0.2s;
    
    

}

/* texte légende */
#head_center p{
    color: white;
    width: 45%;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    margin-top: 3%;
 
 
}


/* logo technos*/
#head_logos{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-top : 3.7%;
}
#head_logos img{
    width: 55px;
    opacity: 0.5;
}


/*------------------------------------------------------------------------------------------*/
/*Prmière section*/
.grey_section{
    background-color: #f1f0f3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 6%;
    padding-bottom: 6%;
    height: 90vh; 
    color: #424345;
}
/* div principal contenant les images*/
#image_present{
    width: 40%;
    position: relative;
    height: 80%;
}

/* image texaf*/
.img_texaf{
    width: 100%;
    border-radius: 20px;
    position: absolute;
    left: -15%;
}

/* image cohorte kda 2020 */
.img_kda2020{
    width: 60%;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left: 40%;
}


/* div principal illustrtion developpeurs*/
#quality_dev{
    width: 60%;  
}

#quality_dev h1{
    font-size: 2.7em;
    font-style: normal;
    margin-left:15px ;
}

#quality_dev h5{
    font-family: 'Montserrat_regular', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 900;
}
/* groupe des 4 illustrations developpeurs */
.quality_dev_illustration_group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
/* div contenant l'icone et le texte h5*/
.quality_dev_illustration{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-top: 50px;
}
/* travail sur les icones */
.grey_section_icons{
    width: 50px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}

