@font-face{
    font-family: 'Montserrat_ultra' ;
    src: url(Montserrat/Montserrat-Black.ttf);   
}
@font-face{
    font-family:'Montserrat_regular' ;
    src: url(Montserrat/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Montserrat-Bold';
    src: url(Montserrat/Montserrat-Bold.ttf);
}

/* Réinitialisation des marges de la page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Parametrage du body*/
body {
    margin: 0;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden;
}

/* parametrage par défaut de différentes sections*/
.grey_section{
    background-color: #f1f0f3; 
    color: #424345;
}
.pink_section{
    background: #d92950;
    color: white;
}

.grey_section h1{
    font-size: 40px;
    font-style: normal;
    color: #424345;
    font-family: 'Montserrat-Bold';
    font-size: 2.5em;
}
.pink_section h1{
    font-size: 40px;
    font-style: normal;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 2.5em;
} 

/* Travail sur le header soit la section 0*/
header{
    display: flex;
    flex-direction: column;
    margin-top: 80px;

}
/* Redimensionnement du logo*/
#logo{
    margin-left: 15%;
    margin-top: 10%;
    width: 100px;

}
/*travail sur la barre de navigation, fixation et autre*/
#navigation{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #d92950;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    width: 100vw;
    height: 80px;   
}
/* bloc de liste*/
nav ol{
    display: flex;
    flex-direction: row ;
    margin-top: 7%;  
}

/* reconfiguration de style de liste et espacement */
nav li{
    margin-right: 50px;
    list-style: none;   
}

/*travail sur les liens de la navigation*/
nav li a{
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 100;
    font-weight: bold; 
    color: #FFFFFF;
    text-decoration: none;
}
/** --------- ici sera placé la pseudo classe active pour le lien ---------/

/*  la pseudo classe hover des listes*/
nav li:hover{
    border-bottom: 2.5px solid rgba(255,4,107,1);
}

/* travail sur le bloc central (h1, bouton et logos */
#head_center{ /* image de fond et dimensionnement*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    background-image: url(img/hero-background.jpg) ;
    background-size: cover;
    width: 100vw;
    height: auto;
}

/* travail sur le texte principal de l'en-tête */
#head_center h1{
    width: 50%;
    font-family: 'Montserrat_ultra', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    margin-top: 7%;
    text-align: center;
}

/* modification de la couleur jaune sur qualité */
#dev_qualifié{
    color: #ffe64d;
}

/* travail sur les deux touches de contact*/
#head_center ol{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 5%; 
    width: 40%;
    height: auto;
 
}

/* modification du style de liste*/
#head_center li{
    list-style: none;
}

/* création du bouton*/
#head_center .btn_head{
    list-style: none;
    background: white; 
    padding: 18px 23px;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #d92950;
    text-decoration: none;
    border:  2px solid white;
    
}

/*travail sur le hover*/
#head_center .btn_head:hover {
    background: none;
    color: white;
    transition: 0.3s;
}

/* texte légende */
#head_center p{
    color: white;
    width: 45%;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    margin-top: 3%;
    height: auto;
}

/* logo technos*/
#head_logos{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-top : 3.7%;
    margin-bottom: 8%;
    height: auto;
}
#head_logos img{
    width: 55px;
    opacity: 0.5;
}



/*------------------------------------------------------------------------------------------*/
/*Prmière section*/
#section1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 7%;
    padding-bottom: 15%;
    height: auto;
}

/* div principal contenant les images*/
#image_present{
    width: 40%;
    position: relative;
}

/* image texaf*/
.img_texaf{
    width: 100%;
    border-radius: 20px;
    position: absolute;
    left: -15%;
}

/* image cohorte kda 2020 */
.img_kda2020{
    width: 65%;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left: 35%;
}


/* div principal illustrtion developpeurs*/
#quality_dev{
    width: 60%;  
    margin-left: 10px;
}

#quality_dev h5{
    font-size: 1.2em;
    margin-top: 5px;
    font-family: 'Montserrat-Bold', sans-serif;
}
/* groupe des 4 illustrations developpeurs */
.quality_dev_illustration_group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
/* div contenant l'icone et le texte h5*/
.quality_dev_illustration{
    width: 45%;
    height: auto;
    text-align: center;
    margin-top: 40px;
}
/* travail sur les icones */
.grey_section_icons{
    width: 50px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}



/* -----------------------------Deuxième section --------------------------------- */
#section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 50px;

   
 }
 #section2 h1{
     padding: 50px 0;
    padding: 50px 0;
 }
 /*travail sur la div des images*/
 #partner_img{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    
   
 }
 #partner_img img{
     width: 100px;
     max-width: 100%;
     
 }

 /* ------------------------------ Troisème section -----------------*/
 #section3{
     width: 100vw;
     height: auto;
     padding: 100px 0;

 }

 #accompagnement{
    display: flex;
    justify-content: center;

}
.accompagnement_box{
    background-color: #FFF;
    padding: 20px;
    width: 600px;
    margin: 0 20px;
    border-radius: 0px 0px 20px 20px;
  
}
#accompagnement_a{
    border-top: 10px solid #FFE64D;
}
#accompagnement_b{
    border-top: 10px solid #d92950;
}

 #section3 h1{
    font-size: 40px;
    font-family: 'Montserrat-Bold';
    text-align: center;
    margin-bottom: 50px;

 }
 #section3 h3{
     text-align: center;
     color: #d92950;
     font-size: 30px;
     font-family: 'Montserrat-Bold' ;
     margin: 20px 0px;
 }

 .accompagnement_texte p:nth-child(2){
     font-size: 1em;
     font-family: 'Montserrat_regular';
     text-align: center;
     width: 100% ;
     
 }

 .accompagnement_texte p:nth-child(3){
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;


 }
 .accompagnement_texte a{
    
    color: #FFF;
    background-color: #d92950;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 24px 0 0;
    border: 2px solid #d92950 ;
    font-size: 1.25em;
    padding: 15px 25px;
    
    
}

.accompagnement_texte a:hover{
    background: none ;
    color: #d92950;
    transition-duration: 0.3s;
}


/* ------------------------------------------- Quatrième sectin ----------------------------------*/
#section4{
    padding: 100px 0;
    width: 100vw;
  
}
#section4 h1{
    text-align: center;
    margin: 0px 0px 100px;
    
}

#section4_slide{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: auto;
    /*overflow : scroll;*/
}
/*#section4_slide::-webkit-scrollbar{
    background: transparent;
}*/
.box_image{
    padding: 0 30px;
    
}
.box_image img{
    width: 22vw;
    border-radius: 10px;
}
.box_image p{
    
    font-family: 'Montserrat_regular' ;
    padding: 1px 0;
}
.box_image a{
    text-decoration: none;
    color: #fff;
}
.box_image .ligne_1{
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    font-family: "Ubuntu Mono", monospace;
}
.box_image .ligne_2{
    background-color: #ED0058;
    font-size: 0.7em;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    
}
.ligne_2 p{
    margin-right:10px;
}
.ligne_2 svg{
    margin-right: 5px;
}
.ligne_1, .ligne_2{
    margin: 10px 0;
}

/* --------------------------------------------------- secetion5 ------------------------------------------------------------ */
#section5{
    background: #fff;
    width: 100vw;
    padding: 100px 0;
}
#line_box{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.tableaux{
    margin: 0px 25px;

}
#section5 h1{
    text-align: center;
    margin-bottom: 40px;
}
#tableau_1{
    width: 45vw;
}
#tableau_1 h3, #tableau_2 h3{
    color: white;
    font-size: 2em;
    margin-left: 20px;
}
#tableau1_head{
    height: 70px;
    background: #D92950 ;
    padding: 20px 0;
}
#tableau1_body{
    padding-top: 40px;
    padding-bottom: 50px;
    background: #F1F0F3;
    border-radius: 0 0 20px 20px;
}
.logo_svg{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 25px;
}
.logo_svg figure{
    text-align: center;
    width: 200px;
}
#tableau1_body img{
    width: 50px;
}


#tableau_2{
    width: 30vw;
    background: #F1F0F3;
    border-radius: 0 0 20px 20px;
}

#tableau2_head{
    height: 70px;
    background: #341F41 ;
    padding: 20px 0;
}
#tableau2_body{
    padding: 40px 30px; 
    padding-bottom: 50px !important;
}
#tableau2_body ol{
    line-height: 2em;
    list-style-position: inside;
}
#tableau2_texte{
    background: #DFDEE1;
    padding: 50px 35px;
    padding-bottom: 60px !important ;
    border-radius: 10px;
}


/* ------------------------------------------------------ section 6 ----------------------------*/