
/* Réinitialisation des marges de la page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Parametrage du body*/
body {
    margin: 0;
    overflow-x: hidden;
}


/* parametrage par défaut de différentes sections, textes, couleurs, marges*/
.flex_row{
    display: flex;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.flex_center{
    justify-content: center;
}
.flex_around{
    justify-content: space-around;
}
.flex_between{
    justify-content: space-between;
}
.grey_section{
    background-color: #f1f0f3; 
    color: #424345;
}
.pink_section{
    background: #d92950;
    color: white;
}

.titre_blanc{
    font-style: normal;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2.5em;
} 
.titre_noir{
    font-style: normal;
    color: #424345;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
}
.titre_left{
    text-align: left;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight:400 ;
}
/* Travail sur le header soit la section 0*/
header{
    margin-top: 80px;
}
/* Redimensionnement du logo*/
#logo{
    margin-left: 15%;
    margin-top: 10%;
    width: 6vw;
}
/*travail sur la barre de navigation, fixation et autre*/
#navigation{
    background: #d92950;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    width: 100vw;
    height: 80px;   
}
nav .current{
    border-bottom: 2.5px solid rgba(255,4,107,1);
}
nav ol{
    margin-top: 7%;  
}
nav li{
    margin-right: 50px;
    list-style: none;   
}
nav li a{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    font-weight: bold; 
    color: #FFFFFF;
    text-decoration: none;
}
.underligne{
    display: inline-block;
}
.underligne::after{
    
    width: 0;
    display: block;
    content: '';
    height: 2px;
    background-color: rgba(255,4,107,1);
    transition: width .3s;
}
.underligne:hover::after{
    width: 100%;
    transition: width .3s;
}

#head_center{ /* image de fond et dimensionnement*/   
    align-items: center;
    height: 110vh;
    background-image: url(img/hero-background.jpg) ;
    background-size: cover;
    width: 100vw;
    height: auto;
}
/* travail sur le texte principal de l'en-tête */
#head_center h1{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    color: #FFFFFF;
    margin-top: 7%;
    text-align: center;
    font-weight: 900;
}
#dev_qualifié{
    color: #ffe64d;
}
/* travail sur les deux touches de contact*/
#head_center ol{
    margin-top: 5%; 
    width: 40%;
    height: auto;   
}
#head_center li{
    list-style: none;
    padding: 10px;
}
#head_center .btn_head{
    list-style: none;
    background: white; 
    padding: 18px 23px;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #d92950;
    text-decoration: none;
    border:  2px solid white;
}
#head_center .btn_head:hover {
    background: none;
    color: white;
    transition: 0.3s;
}

/* texte légende */
#head_center p{
    color: white;
    width: 45%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:400 ;
    font-size: 1.1em;
    margin-top: 3%;
    height: auto;
}
/* logo technos*/
#head_logos{
    width: 85%;
    margin-top : 3.7%;
    margin-bottom: 8%;
    height: auto;
}
#head_logos img{
    width: 55px;
    opacity: 0.5;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*Première section*/
#section1{
    width: 100%;
    padding-top: 110px  ;
    padding-bottom: 110px;
}
.titre_dev{
    font-size: 2.7em;
    width: 90%;
    margin-left: 15px;
}
#image_present{
    width: 40%;
    position: relative;
}
.img_texaf{
    width: 600px;
    border-radius: 20px;
    position: absolute;
    left: -15%;
}
.img_kda2020{
    width: 390px;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 35%;
}

#quality_dev{
    width: 60%;  
    margin-left: 10px;
}
#quality_dev h5{
    font-size: 1.4em;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700 ;
}
.quality_dev_illustration_group{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
.quality_dev_illustration{
    width: 45%;
    height: auto;
    text-align: center;
    margin-top: 40px;
}
/* travail sur les icones */
.quality_dev_icons{
    width: 55px;
    border-bottom: 2px solid red;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.cup{
    width: 45px;
}
.bloc_earth{
    margin-bottom: 30px;
}
/* --------------------------------------------------Deuxième section ------------------------------------------------ */
#section2{
    align-items: center;
    padding: 100px 0;
 }
 #partner_img{
    width: 70vw;
    align-items: center;
    margin: 70px 0; 
 }
 #partner_img img{
     width: 100px;
     max-width: 100%;   
 }
 /* ------------------------------------- Troisème section  --------------------------------------------------------------*/
 #section3{
     width: 100vw;
     height: auto;
     padding: 100px 0;
 }
 #accompagnement{
    margin-top: 50px;
}
.accompagnement_box{
    background-color: #FFF;
    padding: 20px;
    width: 600px;
    margin: 0 20px;
    border-radius: 0px 0px 20px 20px;
}
#accompagnement_a{
    border-top: 10px solid #FFE64D;
}
#accompagnement_b{
    border-top: 10px solid #d92950;
}
 #section3 h3{
    text-align: center;
    color: #d92950;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 700;
    margin: 20px 0px;
 }
 #section3 h2{
    color: #341F41;
 }
 .accompagnement_texte p:nth-child(2){
    text-align: center;
 }
 .accompagnement_texte p:nth-child(3){
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
 }
 .accompagnement_texte a{
    
    color: #FFF;
    background-color: #d92950;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 24px 0 0;
    border: 2px solid #d92950 ;
    font-size: 1.25em;
    padding: 15px 25px; 
}
.accompagnement_texte a:hover{
    background: none ;
    color: #d92950;
    transition-duration: 0.3s;
}
/* ------------------------------------------- Quatrième sectin ----------------------------------*/
#section4{
    padding: 100px 0;
    width: 100vw;
}
#section4 h2{
    text-align: center;
    margin: 0px 0px 100px;  
}

#section4_slide{
    width: 80vw;
    margin: auto;
}

.box_image{
    width: 30%;
}
.box_image img{
    width: 100%;
    border-radius: 10px;
}
.box_image a{
    text-decoration: none;
    color: #fff;
}
.ligne_1{
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    font-weight:400 ;
    line-height: 1.5em;
}
.pays{
    background-color: #fff;
    width: 90px;
    height: 22px;
    border-radius: 10px 0px 0px 10px;
    padding-bottom: 2px;
    position: relative;
}
.ligne_1 img{
    width: 20px;
    margin-left: 0.5px;
    margin-top: 0.5px;
}
.nom_pays{
    color :#D92950;
    position: absolute;
    right: 15px;
    top: 4px;
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
}
.box_image .ligne_2{
    background-color: #ED0058;
    font-size: 0.7em;
    padding: 5px;
    font-family: "Ubuntu Mono", monospace;
    
}
.ligne_2 p{
    margin-right:10px;
}
.work_icon{
    margin-right: 5px;
    color: #fff;
    font-size: 1em;
}
.ligne_1, .ligne_2{
    margin: 10px 0;
}
/* --------------------------------------------------- secetion5 ------------------------------------------------------------ */
#section5{
    background: #fff;
    width: 100vw;
    padding: 100px 0;
}
#line_box{
    width: 100vw;
    margin-top: 50px;
}
.tableaux{
    margin: 0px 25px;
}
#tableau_1{
    width: 45vw;
}
#tableau_1 h3, #tableau_2 h3{
    color: white;
    font-size: 2em;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700 ;
}
#tableau1_head{
    height: 70px;
    background: #D92950 ;
    padding: 20px 0;
}
#tableau1_body{
    padding-top: 40px;
    padding-bottom: 50px;
    background: #F1F0F3;
    border-radius: 0 0 20px 20px;
}
.logo_svg{
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 25px;
}
.logo_svg figure{
    text-align: center;
    width: 200px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-size: 1.2em;
}
#tableau1_body img{
    width: 50px;
}

#tableau_2{
    width: 30vw;
    background: #F1F0F3;
    border-radius: 0 0 20px 20px;
}

#tableau2_head{
    height: 70px;
    background: #341F41 ;
    padding: 20px 0;
}
#tableau2_body{
    padding: 20px 30px; 
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.4em;
    font-weight: 400;
}
#tableau2_body ol{
    line-height: 1.5em;
    list-style-position: inside;
    width: 80%;
}
#tableau2_texte{
    background: #DFDEE1;
    padding: 50px 35px;
    padding-bottom: 50px ;
    border-radius: 10px;
}
/* ------------------------------------------------------ section 6 ----------------------------*/
#section6{
    background: #AE3753;
    padding: 100px 0;
}
#pret_illustration{
    width: 100vw;
}
#alignement_icon_pret{
    width: 80vw;
    margin: auto;
    margin-top: 30px; 
}
.pret_icon{
    margin: 20px;
    width: 300px; 
}
.pret_icon h4{
    margin-right: 20px;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal; 
}
.image_fleche{
    align-items: center;
    margin-bottom: 20px;  
}
.icon_container{
    width: 70px ;
    height: 70px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 25px;  
}
.fleche img{
    width: 30px;
}
.icon_container img{
    width: 35px;
    max-width: 100%;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px;
}
#section6 a{ 
    color: #FFF;
    background-color: #d92950;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 24px 0 0;
    border: 2px solid #d92950 ;
    font-size: 1.25em;
    padding: 20px 25px;
}
#section6 p{
    text-align: center;
    margin-top: 100px;
}
#section6 a:hover{
    background: none ;
    border: 2px solid white ;
    color: white;
    transition-duration: 0.3s;
}

/* ---------------------------------------------------- section 7------------------------------------ */
#section7{
    padding: 100px 30px ;
    width: 100vw;
}
#create_emploi{
    margin-left:15px;
}
#emploi_1{
    width: 42vw;
    margin-top: 15px;
}
#emploi_1 img{
    width: 100%;
}
#emploi_1 p:nth-of-type(1){
    margin-top: 60px;
    font-size: 1.15em;
    line-height: 1.5em;
    margin-bottom: 30px;
}
#emploi_1 span{
    color: #D92950;
}
.titre_emploi{
    font-size: 2.7em;
}
#emploi_2{
    width: 45vw;   
    flex-wrap: wrap;
}
#emploi_2 p:last-child{
    font-size: 1.05em;
    line-height: 1.5em;
    margin-bottom: 30px;
}
.emploi2_bloc{
    width: 42%;
    margin: 15px;
    border-radius: 20px;
    background: #FFF;
    padding: 20px 25px 50px 25px;
}
.emploi2_bloc img{
    width: 50px;
    margin-bottom: 10px;
}
.emploi2_bloc h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:700 ;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* ------------------------------------------------- section 8 --------------------------- */
#section8{
    padding: 100px 0;
    background: #000;
    text-align: center;
    width: 100vw;
}
#img_media{
    align-items: center;
    margin-top: 50px;
}
.logo_media{
    margin: 0 30px;
}
/* __________________________________________________ section 9 _______________________________*/
#section9{
    padding:100px 0;
    background: #FFFFFF;
}
#soutien_kda{
    align-items: center;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}
.soutien_img_bloc,.soutien_twitter_bloc {
    width: 25%;
    margin: 25px 15px;
    
}
.soutien_img_bloc img{
    width: 100%;
    border-radius:15px ;
    margin-bottom: 20px;
}
.soutien_img_bloc strong{
    font-family: 'Montserrat', sans-serif;
    font-weight:700 ;
}

/* ____________________________________________________________ Formulaire _______________________________________________________*/
#section10{
    padding: 100px 0;
    background: #1D1B25;
    color: white;
}
#section10 #formulaire{
    width: 85vw;
    margin: auto;
}
#section10 fieldset{
    border: none;
    color: rgba(250, 250, 250, 0.9);

}
#section10 legend{
    font-family: 'Roboto', sans-serif;
    margin: 0 0 8px;
}
#formulaire > p:nth-of-type(1){
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
    font-size: 1.1em;
}
#formulaire input, select, textarea{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;  
    color : #757575;
}
.hidden_option{
    display: none;
}
select{
    appearance: none;
    background-image: url(img/svg/double-arrow-svgrepo-com.svg);
    background-size: .7em;
    background-position: 98% center;
    background-repeat: no-repeat;
}
select::-ms-expand {
    display: none;
}
textarea{
    padding-top: 10px;
    height: 20px ;
    resize:none;
}
.placeholder ::placeholder,#formulaire option { 
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
.placeholder :-ms-input-placeholder,#formulaire option {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
.placeholder ::-ms-input-placeholder,#formulaire option { 
    font-family: 'Roboto', sans-serif;   
    font-size: 1.2em;
}
.form_last_p{
    font-size: 1.1em;
    line-height: 1.5em;
    color: rgba(250, 250, 250, 0.9);
}
#section10 .colonne{
    width: 49%;    
}
#formulaire_colonne{
    margin: 20px 0;
    width: 100%;
}
#section10 input:not(.envoie), select{
    width: 100%;
    height: 40px;
    margin: 8px 0;
    font-family: 'Roboto', sans-serif; 
}
textarea{
    width: 100%;
    height: 60px;
    margin: 8px 0;
}
input:focus, select:focus, textarea:focus{
    outline: 4px solid rgba(217, 41, 80, 0.2);   
}

#section10 a{
    color: #D92950;
    text-decoration: none;
}
#formulaire button{
    color: #FFF;
    background-color: #d92950;
    border-radius: 15px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #31052C ;
    font-size: 1.05em;
    margin-top: 20px;
    
}
#formulaire button:hover{
    background: transparent;
    transition: 0.3s;
    border: 2px solid #d92950 ;
    cursor: pointer;
}
/* _______________________________________________________ bas de page ___________________________________________________________*/
footer{
    padding: 100px 0;
    background: #2D2D2D;
    color: #fff;
}
.flex_ligne{
    width: 85vw;
    margin: 70px auto;
}
.adresse, .inscription{
    padding: 0 15px;
    width: 50%;
}
address{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.6em ;
    margin: 0 0 32px;
    line-height: 1.3em;
    color: rgba(250, 250, 250, 0.9)
}
.adresse .info_kda{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.6em ;
    color: #d92950;
    text-decoration: none;
    line-height: 1.3em;
}
.adresse_icon{
    color: #d92950 ;
    font-size: 2.2em;
    margin: 60px 25px 0 0;
}
.inscription p:nth-of-type(1){
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    margin: 0 0 25px;
    color: rgba(250, 250, 250, 0.9)
}
.flex_ligne strong{
    color: #fff;
}
.inscription input{
    height: 60px;
    width: 70%;
    padding-left : 10px;
}
.inscription input:focus{
    outline: 3px solid rgba(217, 41, 80, 0.3);
}
.inscription button{
    height: 60px;
    color: #FFF;
    background-color: #d92950;
    border:  3px solid #d92950;
    border-radius: 0px 15px 15px 0px;
    text-transform: uppercase ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px 25px;
    font-size: 1.05em;

    position: absolute;
}
.inscription button:hover{
    background: none;
    color:#fff;
    transition: 0.3s;
    cursor: pointer;
    
}
.inscription button:focus{
    border: none;
}
.inscription form{
    margin-bottom: 230px;
}

.inscription a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 1.1em;
}
.adresse .info_kda:hover, .fab:hover{
    color: #FF046B;
}
